.hero {
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    padding: 118px 0;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: url("../images/hero-mobile@2x.jpg");
    }
}
.hero__content {
    align-items: center;
    text-align: center;
}
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--complementary-color);
    text-align: center;
    margin-bottom: 30px;
    margin-right: 45px;
    margin-left: 45px;
}
@media screen and (min-width: 768px){
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/hero-tablet.jpg");
    }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: url("../images/hero-tablet@2x.jpg");
    }
}
    .hero__title {
        margin-left: 189px;
        margin-right: 189px;
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/bg-hero.jpg");
        padding: 200px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: url("../images/bg-hero@2x.jpg");
        }
    }
    .hero__title {
        font-size: 44px;
        line-height: 1.36;
        margin-left: 252px;
        margin-right: 252px;
    }
}
