:root {
    --main-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --main-color: #212121;
    --secondary-color: #757575;
    --complementary-color: #ffffff;
    --adress-link-color: rgba(255, 255, 255, 0.6);
    --dark-theme-background: #2f303a;
    --light-theme-background: #f5f4fa;
    --hover-btn-background: #188ce8;
    --icon-color: #afb1b8;
}